 <% blog.forEach((item)=>{  %>
        <div class="body-blog">
          <h1 class="head-blog"><%= item.blogtitle %> </h1>
          <h3 class="snippet-blog"><%= item.blogbody %> </h3>
         
          </div>
    <% }); %>
