 <% for (var blog of blogpost) { %>
        <div class="body-blog">
          <h1 class="head-blog"><%= blog.head %> </h1>
          <h3 class="snippet-blog"><%= blog.Snippet %> </h3>
         
          </div>
    <% } %>
