<%- include ("header"); -%> 


    <form method="post" action="create"  class="createblog">

        <LABel for="blogtitle">TITLE</LABel>
        <input type="text" name="blogtitle" id="blogtitle">
        <label for="blogcontent">Content</label>
        <textarea name="blogbody" id="blogcontent" cols="30" rows="10"></textarea>
        <input type="submit" value="Publish">
       
        
        </form>
        <%- include ('footer'); -%> 


